.table{
    table-layout: auto;
    width: 50%;
    
}

.logo-utp{
    float: left;
    width: 7%;
    height: 7%;
}

footer{
    text-align: center;
}

.disponibilidad{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

